<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<font face="verdana" color="green" >
<body style = "background-color:#454545; font-size: 18px;">

<style>
#content{
color: #ffffff!important;text-decoration: none!important;font-weight: normal!important;font-style: normal!important;
background-color:#608AB5;
width:100%;
padding:10px;

}

</style>

<div id="content">
<h1><center>My Blog</center></h1>
</div>


<%= yield %>

</body>
</html>
